{% extends 'base.html.twig' %}

{% block title %}Mon Compte{% endblock %}

{% block body %}
<link rel="stylesheet" href="{{ asset('styles/account.css') }}">
<link rel="stylesheet" href="{{ asset('styles/all.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
<header>
        <img src="/uploads/logo.png" alt="logo">
        <nav class="navigation">
            <a href="{{ path('app_produit_all') }}" class="nav-link">{{ 'page.accueil'|trans }}</a>
            <a href="{{ path('app_commandes_all') }}" class="nav-link">{{ 'page.shoppinglist'|trans }}</a>
            <a href="{{ path('app_account') }}" class="nav-link">{{ 'page.profile'|trans }}</a>
            {% if app.user.roles[0] == "ROLE_SUPER_ADMIN" %}
            <a href="{{ path('app_super_admin') }}" class="nav-link">Super Admin</a>
            {% endif %}
        </nav>
</header>
    <div class="container">
    {% if app.user %}
        <div class="account-info">
            <h1 class="titre">{{ 'page.welcome'|trans }}, {{ app.user.prenom }} {{ app.user.nom }}</h1>
            <hr>
            <div class="groupe">
                <div class="info-item">
                    <strong>{{ 'page.account.firstname'|trans }} : </strong> {{ app.user.prenom }}
                </div>
                <div class="info-item">
                    <strong>{{ 'page.account.name'|trans }} : </strong> {{ app.user.nom }}
                </div>
                <div class="info-item">
                    <strong>Email : </strong> {{ app.user.userIdentifier }}
                </div>
                <div class="info-item">
                    <strong>{{ 'page.account.createdAt'|trans }} : </strong> {{ app.user.createdAt.format('H:i - d/m/Y') }}
                </div>
                <a class="btn" href="{{ path('app_logout') }}"><button>{{ 'page.disconnecte'|trans }}</button></a>
            </div>
        </div>

        <div class="actions">
            <h2 class="titre">{{ 'page.account.update'|trans }}</h2>
            <hr>
            <div class="groupe">
                {{ include('utilisateur/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
            </div>
        </div>
    {% endif %}
    </div>
<footer>
            <div class="reseaux">
                <a href=""><i class="fa-brands fa-twitter"></i></a>
                <a href=""><i class="fa-brands fa-tiktok"></i></a>
                <a href=""><i class="fa-brands fa-youtube"></i></a>
                <a href=""><i class="fa-brands fa-facebook"></i></a>
                <a href=""><i class="fa-brands fa-instagram"></i></a>
            </div>
            <hr/>
            
            <h3><img class="fin" src="/uploads/logo.png" /></h3>
            
            <p class="p1">
                {{ 'page.footer.a'|trans }}
            </p>
            <p class="p2">{{ 'page.footer.b'|trans }}</p>
</footer>
{% endblock %}