{% extends 'base.html.twig' %}

{% block title %}Produit{% endblock %}{# recup le nom du produit#}

{% block body %}
    <h1>Jsp</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ produit.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ produit.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ produit.description }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ produit.prix }}</td>
            </tr>
            <tr>
                <th>Stock</th>
                <td>{{ produit.stock }}</td>
            </tr>
            <tr>
                <th>Photo</th>
                <td><img src='{{ asset("uploads/" ~ produit.photo )}}'/><td>
            </tr>
        </tbody>
    </table>

    <button>panier</button>
    <a href="{{ path('app_produit_all') }}">back to accueil</a>

    <form method="post" action="{{ path('app_produit_delete', {'id': produit.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');">
        <input type="hidden" name="csrf" value="{{ csrf_token('delete' ~ produit.id) }}">
        <button type="submit">Supprimer</button>
    </form>

{% endblock %}