{% extends 'base.html.twig' %}

{% block title %}Les Commandes{% endblock %}

{% block body %}

{% if app.user %}
<h1>tkt t'es bien loggin</h1>
{% endif %}

<h2>Forme de Commandes</h2>

{{ form_start(commandesForm) }}
{{ form_row(commandesForm.DateAchat) }}
{{ form_row(commandesForm.ContenuPaniers) }}
{{ form_row(commandesForm.save) }}
{{ form_end(commandesForm) }}

<h2>Forme de ContenuPanier</h2>

{{ form(panierForm) }}

{% endblock %}
